<!-- alert -->
<div class="d-block px-3 py-2 text-center text-bold skippy">
  <a href="https://getbootstrap.com/" class="text-white text-decoration-none">There's a newer version of eCompass!</a>
</div>

<!-- Bootstrap Navbar Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <!-- Parameters Menu Toggle -->
    <button class="btn btn-outline-primary me-2" id="MenuLink" onclick="ParametersMenuToggle()">
      Parameters Menu
    </button>

    <!-- Logo Area -->
    <a class="navbar-brand mx-3" href="#">
      <img src="../assets/ecompassLogo.png" alt="eCompass Logo" id="LogoHead" style="height:40px;">
    </a>

    <!-- Responsive Navbar Toggle (for mobile) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
      aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- File Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="HeaderFileButton" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            File
          </a>
          <ul class="dropdown-menu" aria-labelledby="HeaderFileButton">
            <li><a class="dropdown-item" id="NewFileButton" href="#">New</a></li>
            <li><button class="dropdown-item" id="OpenFileButton">Open</button></li>
            <li><a class="dropdown-item" id="OpenInNewTab" href="#">Open new file in new tab</a></li>
            <li><a class="dropdown-item" id="SaveFileButton" href="Download-parameters.html">Save</a></li>
            <li><a class="dropdown-item" id="CloseFileButton" href="../">Close</a></li>
          </ul>
        </li>

        <!-- Tools Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="HeaderToolsButton" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Tools
          </a>
          <ul class="dropdown-menu" aria-labelledby="HeaderToolsButton">
            <!-- <li><a class="dropdown-item" id="ErrorButton" href="#" onclick="ErrorAlertDialog()">Errors</a></li> -->
            <button  type="button" style="color: black;" data-bs-toggle="modal" data-bs-target="#errorsModal">
              <i id="ErrorButton" class="fa fa-exclamation-triangle me-1"></i> Show Errors
            </button>
            <li>

              <button type="button" style="background: none; color: black;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fileActionsModal">
                <i class="fa fa-file me-1"></i> File Actions
              </button>
            </li>
            <li><a class="dropdown-item" id="SpecialBlocksButton" href="#" onclick="SpecialBlockDialog()">Special
                Blocks</a></li>
            <li><a class="dropdown-item" id="LogViewerButton" href="https://knowledgebase6.wpengine.com/elogs">eLogs -
                Log Viewer</a></li>
            <li><a class="dropdown-item" id="KnowledgeBaseButton"
                href="https://knowledgebase6.wpengine.com/knowledge-base/" target="_blank">Knowledge Base</a></li>
          </ul>
        </li>

        <!-- Help Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="HeaderHelpButton" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Help
          </a>
          <ul class="dropdown-menu" aria-labelledby="HeaderHelpButton">
            <li><a class="dropdown-item" id="SupportButton" href="https://knowledgebase6.wpengine.com/">Combilift
                Technical Support</a></li>
            <li><a class="dropdown-item" id="ContactSupportButton" href="https://combilift.com/contact/">Contact
                Support</a></li>
            <li><a class="dropdown-item" id="AboutUsButton" href="https://combilift.com/about-us/">About Us</a></li>
          </ul>
        </li>

        <!-- Search Button -->
        <li class="nav-item">
          <!-- <button class="btn btn-outline-secondary ms-2" onclick="SearchDialog()" id="SearchIconButton">
            <i class="fa fa-search"></i>
          </button> -->
          <button type="button" style="background: none;" class="btn btn-secondary" data-bs-toggle="modal"
            data-bs-target="#searchModal">
            <i class="fa fa-search me-1"></i> Search
          </button>
        </li>
      </ul>

      <!-- User Profile Dropdown (right-aligned) -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="HeaderUserButtonReal" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle fa-2x me-1"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="HeaderUserButtonReal">
            <li>
              <span class="dropdown-item-text">
                <strong id="FixedUsernameText">Username:</strong>
                <span id="UsernameLocal"></span>
              </span>
            </li>
            <li>
              <span class="dropdown-item-text">
                <strong id="FixedAccessLevelText">Access Level:</strong>
                <span id="AccessLevel"></span>
              </span>
            </li>
            <li>
              <span class="dropdown-item-text">
                <strong id="FixedAPIText">API Version:</strong>
                <span id="APIVersion"></span>
              </span>
            </li>
            <li>
              <a class="dropdown-item text-danger" id="FixedLogoutText"
                href="http://support.combilift.net/wp-login.php?action=logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="chatbot-icon">
  
</div>